.inpTxt {

  &__inp {
    width: 100%;
    height: 48px;
    padding: 0 20px;
    color: #152131;
    font-size: 16px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    background-color: #f7f7f7;

    &:focus {
      background-color: #fff;
      border-color: #152131;
    }

    &::placeholder {
      color: #939393;
      font-size: 16px;
    }
  }
}

.txtKeyWord {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  padding: 0 16px;
  color: #152131;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  background-color: #f7f7f7;

  & + .txtKeyWord {
    margin-left: 12px;
  }
}

.hotKeyWord {
  display: flex;
  align-items: center;

  &__label {
    width: 123px;
    padding-left: 22px;
    color: #152131;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
  }

  &__swiper {
    width: calc(100% - 123px);

    .swiper-slide {
      width: auto;
    }
  }
} 

.exptCard {
  display: flex;
  position: relative;
  border-radius: 8px;
  border: solid 1px #e6e6e6;
  background-color: #fff;

  &__img {
    width: 124px;
    height: 100%;
    margin: -1px 0;
  }

  &__info {
    width: calc(100% - 124px);
    padding: 13px 20px;
  }

  &__kw {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ff0247;
  }

  &__kwTxt {
    position: relative;
    color: #ff0247;
    font-family: 'rokaf-slab';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    &:last-child {

      &:after {
        display: none;
      }
    }

    &:after {
      content: ',';
      margin-right: 3px;
    }
  }

  &__name {
    margin-top: 8px;
    color: #152131;
    font-family: 'rokaf-slab';
    font-weight: 500;
    font-size: 22px;
    line-height: 1;
  }

  &__company {
    margin-top: 8px;
    color: #939393;
    font-family: 'rokaf-slab';
    font-weight: 500;
    font-size: 10px;
    line-height: 1;
  }

  &__contact {
    display: flex;
    margin-top: 12px;

    .chip {
      margin-right: 3px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__dr {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
}


.exptImg {
  position: relative;
  max-width: 300px;

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    
  &__connecting {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 0 6px;
    color: #fff;
    font-family: 'rokaf-slab';
    font-weight: 500;
    font-size: 12px;
    background-color: #0336ff;
  }
}

.sub-row-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid #cc9d76;

  .sub-row-title {
    color: #cc9d76;
    font-family: ROKAF Slab Serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
  }

  .sub-txt {
    color: #cc9d76;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
  }
}

.toolTip {
  display: inline-flex;
  position: relative;
  z-index: 100;

  &:hover {

    .toolTip__cont {
      display: block;
    }
  }

  &__ancor {
    color: #939393;
    font-size: 10px;
    line-height: 14px;
    text-decoration: underline;
  }

  &__cont {
    display: none;
    position: absolute;
    top: 22px;
    background-color: #272833;
    border-radius: 4px;

    &.pos-left {
      left: 0;

      .toolTip__contInner {

        &:after {
          left: 60px;
        }
      }
    }

    &.pos-right {
      right: 0;

      .toolTip__contInner {

        &:after {
          right: 60px;
        }
      }
    }

    &.pos-right {
      right: 0;
    }

    &Inner {
      position: relative;
      width: auto;
      width: max-content;
      max-width: 350px;
      padding: 8px 12px;
      color: #fefefe;
      font-family: Noto Sans KR;
      font-size: 12px;
      line-height: 1.5;

      &:after {
        content: '';
        position: absolute;
        top: -8px;
        width: 10px;
        height: 8px;
        background: url($imgCommon + 'tool-tip-tail.png') 0/100%;
      }
    }
  }
}

.toggleEl {
  border-bottom: 1px solid #e6e6e6;
  
  &.active {

    .toggleEl__btn {
      background-image: url($imgIcon + 'arrow-toggle-el-up.png');
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    height: 64px;
    padding-left: 20px;
    background: url($imgIcon + 'arrow-toggle-el-down.png') calc(100% - 20px) 50%/20px no-repeat;

    &.lawyer {
      background-color: #0b2b5c;
    }

    &.da {
      background-color: #003535;
    }

    &.detective {
      background-color: #4c0a15;
    }

    &Txt {
      color: #fff;
      font-family: ROKAF Slab Serif;
      font-size: 20px;
      font-weight: 500;
    }
  }

  &__cont {
    display: none;

    .exptCard {
      margin: 0 -1px;
    }
  }
}

.attachFile {

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__txt {
    color: #c1c1c1;
    font-weight: 500;
    font-size: 10px;
  }

  .attachFile__inp {
    display: none;
  }

  &__dropArea {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68px;
    border: 1px solid #e6e6e6;
    background-color: #f7f7f7;
    border-radius: 4px;

    &.attached {
      display: block;
      height: auto;
      background-color: #fff;

      .attachFile__dropAreaTxt {
        display: none;
      }
    }

    &Txt {
      padding-left: 44px;
      color: #c1c1c1;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      background: url($imgIcon + 'ico-attach-dopdown.png') 0 50%/24px no-repeat;
    }
  }

  &__totalVol {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
    color: #939393;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    &2 {
      margin-right: 5px;
      color: #939393;
      font-weight: 500;
      font-size: 1em;
    }
  }

  #fileList {
    
    .file-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 48px;
      margin: 0 16px;
      border-bottom: 1px solid rgba(112, 112, 112, 0.2);

      &:last-child {
        margin-bottom: 12px;
      }

      .file-name {
        color: #111;
        font-weight: 500;
        font-size: 14px;
      }
    }
  }

  #dropZone {

    &.enter {
      background-color: #fff;
    }
  }
}

.sectionHead {
  display: flex;
  align-items: center;
  height: 64px;
  padding-left: 20px;
  background: $themeColor01;
  border-radius: 4px 4px 0 0;

  &__title {
    font-family: ROKAF Slab Serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    color: #fefefe;
  }
}