.checkbox {
  display: flex;
  align-items: center;

  &__label {
    order: 2;
    margin-left: 10px;
    color: #939393;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
  }

  &__chkbox {
    order: 1;
    width: 18px;
    height: 18px;
    background-size: 18px;
    background-image: url($imgCommon + 'checkbox.png');
    appearance: none;

    &:checked {
      background-image: url($imgCommon + 'checkbox-checked.png');
    }
  }
}

.btnChk {
  display: flex;

  &__label {
    order: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    padding: 0 16px;
    color: #152131;
    font-size: 16px;
    font-weight: 500;
    border: solid 1px #c1c1c1;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }

  &__checkbox {
    order: 1;
    appearance: none;
    
    &:checked + .btnChk__label {
      color: #fff;
      background-color: #cc9d76;
      border-color: #cc9d76;
    }
  }
}

.radio {
  display: flex;
  align-items: center;

  &__inp {
    appearance: none;
    width: 20px;
    height: 20px;
    background: url($imgCommon + 'icon-radio.png');

    &:checked {
      background-image: url($imgCommon + 'icon-radio-checked.png');
    }
  }

  &__label {
    padding-left: 10px;
    cursor: pointer;
    color: #152131;
    font-weight: 600;
    font-size: 16px;
  }
}

.inputRow {
  display: flex;
}

.inputCol {
  width: 100%;

  & + .inputCol {
    margin-left: 20px;
  }
}

.inputTxt {
  position: relative;

  &__inp {
    width: 100%;
    height: 48px;
    padding: 0 20px;
    color: #000919;
    font-weight: 500;
    font-size: 16px;
    border: solid 1px #e6e6e6;
    background-color: #f7f7f7;
    border-radius: 4px;
      
    &.enter {
      color: #ff0247;
      background-color: rgba(255, 2, 71, 0.04);
      border-color: #ff0247;

      &::placeholder {
        color: #ff0247;
      }
      &:focus {
        color: #ff0247;
        border: 1px solid #ff0247;
      }
    }

    &:focus {
      border: 1px solid #000919;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 4px;

    &.verify {
      width: 88px;
    }

    &.confirm {
      background: $themeColor01;
    }

    &.disabled {
      background: #c1c1c1;
    }

    &.enter {
      background: #ff0247;
    }

    .txt {
      color: #fff;
      font-family: ROKAF Slab Serif;
      font-size: 16px;
      font-weight: 500;
    }
  }

  &__time {
    position: absolute;
    top: 50%;
    right: 104px;
    color: #ff0247;
    font-weight: 500;
    font-size: 16px;
    transform: translateY(-50%);
  }
}

.textarea {
  position: relative;
  padding-bottom: 12px;
  border: solid 1px #e6e6e6;
  background-color: #f7f7f7;
  border-radius: 4px;

  &__text {
    width: 100%;
    padding: 20px;
    color: #000919;
    font-size: 16px;
    resize: none;
    background-color: #f7f7f7;
  }

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 40px;
    left: 0;
    right: 0;
    padding: 16px 20px;
    background-color: #f7f7f7;
    pointer-events: none;

    .txt1 {
      color: #939393;
      font-size: 16px;
      line-height: 23px;
    }

    .txt2 {
      margin-top: 12px;
      color: #939393;
      font-size: 14px;
      line-height: 28px;
    }
  }

  &__cnt {
    display: flex;
    justify-content: flex-end;
    padding-right: 12px;
    color: #939393;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    .textarea__current,
    .textarea__total {
      color: #939393;
      font-weight: 500;
      font-size: 1em;
      line-height: 16px;
    }

    .textarea__total {
      margin-left: 5px;
    }
  }
}