.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  .header-top {

    .inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 31px;
    }

    .intro-txt {
      color: #939393;
      font-family: 'rokaf-slab';
      font-weight: 500;
      font-size: 12px;
    }

    .top-side {
      display: flex;

      &.login {

        .side-item {
          color: $themeColor01;

          a {
            color: $themeColor01;
          }
        }
      }

      .side-item {
        position: relative;
        margin-left: 40px;
        color: #939393;
        font-size: 14px;
        line-height: 19px;

        &:first-child {

          &:before {
            display: none;
          }
        }

        &:before {
          content: '';
          position: absolute;
          top: 2px;
          left: -20px;
          width: 1px;
          height: 16px;
          background-color: rgba(193, 193, 193, 0.2);
        }

        a {
          color: #939393;
          font-size: 14px;
          line-height: 19px;
        }
      }
    }
  }

  .header-bot {
    border-top: 1px solid rgba(230, 230, 230, 0.1);

    .inner {
      position: relative;
      height: 73px;
    }

    .logo {

      a {
        position: absolute;
        top: 19px;
        left: 0;
        color: #cc9d76;
        font-family: 'Play';
        font-weight: 700;
        font-size: 32px;
        line-height: 37px;
      }
    }

    .side-menu {
      display: flex;
      position: absolute;
      top: 16px;
      right: 0;

      .sm-item {
        margin-left: 10px;
      }

      .sm-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        background-repeat: no-repeat;
        background-position: 50%;

        &.search {
          background-image: url($imgCommon + 'btn-top-search.png');
          background-size: 18px;

          &:hover {
            background-image: url($imgCommon + 'btn-top-search-active.png');
          }
        }

        &.all-menu {
          background-image: url($imgCommon + 'btn-top-menu.png');
          background-size: 16px;
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 4px;

          &:hover {
            background-image: url($imgCommon + 'btn-top-menu-active.png');
          }
        }
      }
    }
  }

  .gnb {
    position: absolute;
    top: 28px;
    left: 370px;

    .main-menu {
      display: flex;

      .mm-item {
        margin-right: 64px;

        &:last-child {
          margin-right: 0;
        }
      }

      .mm-btn {
        color: #939393;
        font-family: 'rokaf-slab';
        font-weight: 500;
        font-size: 18px;
        line-height: 1;
        letter-spacing: 0;

        &.active,
        &:hover {
          color: $themeColor01;
        }
      }
    }
  }
}

.l-footer {

  .menu-row {
    border-top: 1px solid #e6e6e6;

    .inner {
      height: 42px;
    }

    .menu-l {

      .menu-item {
        margin-right: 40px;
      }

      .menu-btn {
        color: #939393;
        font-size: 14px;
      }
    }

    .menu-r {

      .menu-item {
        margin-left: 40px;
      }

      .menu-btn {
        color: #939393;
        font-size: 14px;
      }
    }
  }

  .info-row {
    background-color: #f7f7f7;
    border-top: 1px solid #e6e6e6;

    .inner {
      height: 36px;
    }    

    .company-name {
      color: #939393;
      font-size: 12px;
    }

    address {
      margin-left: 47px;
      color: #939393;
      font-size: 12px;
    }
  }

  .copyright-row {
    height: 30px;
    background-color: #f7f7f7;
    border-top: 1px solid #e6e6e6;

    .copyright {
      color: #c1c1c1;
      font-size: 10px;
    }
  }
}

.l-modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 9, 25, 0.8);
  }

  .modal-btnClose {
    position: absolute;
    top: 0;
    right: -62px;
    width: 42px;
    height: 42px;
    background: url($imgCommon + 'btn-close-login.png') 0/100% no-repeat;
  }
}