.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.9);

  .header-top {

    .inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 31px;
    }

    .intro-txt {
      color: #939393;
      font-family: 'rokaf-slab';
      font-weight: 500;
      font-size: 12px;
    }

    .top-side {
      display: flex;

      &.login {

        .side-item {
          color: $themeColor01;

          a {
            color: $themeColor01;
          }
        }
      }

      .side-item {
        position: relative;
        margin-left: 40px;
        color: #939393;
        font-size: 14px;
        line-height: 19px;

        &:first-child {

          &:before {
            display: none;
          }
        }

        &:before {
          content: '';
          position: absolute;
          top: 2px;
          left: -20px;
          width: 1px;
          height: 16px;
          background-color: rgba(193, 193, 193, 0.2);
        }

        a {
          color: #939393;
          font-size: 14px;
          line-height: 19px;
        }
      }
    }
  }

  .header-bot {
    border-top: 1px solid rgba(230, 230, 230, 0.1);

    .inner {
      position: relative;
      height: 73px;
    }

    .logo {

      a {
        position: absolute;
        top: 19px;
        left: 0;
        color: #cc9d76;
        font-family: 'Play';
        font-weight: 700;
        font-size: 32px;
        line-height: 37px;
      }
    }

    .side-menu {
      display: flex;
      position: absolute;
      top: 16px;
      right: 0;

      .sm-item {
        margin-left: 10px;
      }

      .sm-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        background-repeat: no-repeat;
        background-position: 50%;

        &.search {
          background-image: url($imgCommon + 'btn-top-search.png');
          background-size: 18px;

          &:hover {
            background-image: url($imgCommon + 'btn-top-search-active.png');
          }
        }

        &.all-menu {
          background-image: url($imgCommon + 'btn-top-menu.png');
          background-size: 16px;
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 4px;

          &:hover {
            background-image: url($imgCommon + 'btn-top-menu-active.png');
          }
        }
      }
    }
  }

  .gnb {
    position: absolute;
    top: 28px;
    left: 370px;

    .main-menu {
      display: flex;

      .mm-item {
        margin-right: 64px;

        &:last-child {
          margin-right: 0;
        }
      }

      .mm-btn {
        color: #939393;
        font-family: 'rokaf-slab';
        font-weight: 500;
        font-size: 18px;
        line-height: 1;
        letter-spacing: 0;

        &.active,
        &:hover {
          color: $themeColor01;
        }
      }
    }
  }
}

.l-container {
  position: relative;
  padding-top: 105px;
  padding-bottom: 120px;
  min-height: calc(100vh - 110px);

  &.no-pb {
    padding-bottom: 0;
  }
}

.l-footer {

  .menu-row {
    border-top: 1px solid #e6e6e6;

    .inner {
      height: 42px;
    }

    .menu-l {

      .menu-item {
        margin-right: 40px;
      }

      .menu-btn {
        color: #939393;
        font-size: 14px;
      }
    }

    .menu-r {

      .menu-item {
        margin-left: 40px;
      }

      .menu-btn {
        color: #939393;
        font-size: 14px;
      }
    }
  }

  .info-row {
    background-color: #f7f7f7;
    border-top: 1px solid #e6e6e6;

    .inner {
      height: 36px;
    }    

    .company-name {
      color: #939393;
      font-size: 12px;
    }

    address {
      margin-left: 47px;
      color: #939393;
      font-size: 12px;
    }
  }

  .copyright-row {
    height: 30px;
    background-color: #f7f7f7;
    border-top: 1px solid #e6e6e6;

    .copyright {
      color: #c1c1c1;
      font-size: 10px;
    }
  }
}

.l-modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 9, 25, 0.8);
  }

  .content {
    position: relative;
    border-radius: 4px;
    background-color: #fff;

    &.review {
      width: 950px;

      .review-cont {
        display: flex;

        .item-head {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 160px;
          padding: 28px;
  
          .type {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            color: #fefefe;
            font-family: ROKAF Slab Serif;
            font-size: 20px;
            font-weight: 500;
            border-radius: 50%;
            background-color: $themeColor01;
          }
  
          .date {
            margin-top: 8px;
            color: #939393;
            font-weight: 600;
            font-size: 16px;
            line-height: 23px;
          }
  
          .condition {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 24px;
            margin-top: 10px;
            color: #525b6b;
            font-weight: 500;
            font-size: 12px;
            border-radius: 12px;
            border: solid 1px #e6e6e6;
          }
        }
  
        .item-cont {
          width: calc(100% - 170px);
          max-height: 560px;
          padding-right: 30px;
          overflow-y: auto;
          margin: 40px 0;
          color: #525b6b;
          font-weight: 600;
          font-size: 16px;
        }
      }

      .up-down-scroll {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        right: -93px;

        button {
          margin-top: 1px;
          font-size: 0;
        }
      }
    }

    &.modal-expt-info {
      width: 950px;
      height: 640px;
      padding: 24px 10px 24px 24px;

      .expt-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 38px;
      }

      .expt-info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 272px;
        text-align: left;

        .info-img {
          width: 64px;
          height: 64px;
          border-radius: 4px;
          overflow: hidden;
        }

        .name-comp {
          width: calc(100% - 84px);
          margin-left: 20px;

          .name {
            font-family: ROKAF Slab Serif;
            font-size: 22px;
            font-weight: 500;
            line-height: 1;
            color: #152131;
          }

          .comp {
            margin-top: 10px;
            font-family: ROKAF Slab Serif;
            font-size: 10px;
            font-weight: 500;
            line-height: 1;
            color: #939393;

          }
        }
      }

      .expt-type {
        font-size: 16px;
        font-weight: 500;

        &.lawyer {
          color: #1e6ee8;
        }

        &.da {
          color: #018786;
        }

        &.detective {
          color: #bf1b37;
        }
      }

      .current {
        display: inline-flex;
        align-items: center;
        height: 28px;
        padding: 0 9px;
        color: #fff;
        font-family: ROKAF Slab Serif;
        font-size: 16px;
        font-weight: 500;
        background: $themeColor01;
        border-radius: 4px;
      }

      .situation {

        .txt {
          display: block;
          color: #152131;
          font-size: 16px;
          font-weight: 500;
          line-height: 25px;
          text-align: center;
        }

        .go-answer {
          color: #0336ff;
          font-size: 16px;
          font-weight: 500;
          line-height: 25px;
          text-decoration: underline;
        }
      }

      .date {

        .txt {
          display: block;
          color: #152131;
          font-size: 16px;
          font-weight: 500;
          line-height: 25px;
          text-align: center;

          &.cancel {
            color: #939393;
            text-decoration: line-through;
          }

          &.done {
            color: #939393;
          }
        }
      }

      .expt-cont {
        max-height: 488px;
        margin-top: 24px;
        padding-right: 28px;
        overflow-y: auto;

        .cont-row {
          margin-top: 36px;

          &:first-child {
            margin-top: 0;
          }

          .title {
            display: flex;
            align-items: center;
            height: 48px;
            padding-left: 24px;
            font-family: ROKAF Slab Serif;
            font-size: 18px;
            font-weight: 500;
            color: #fefefe;
            background-color: #0b2b5c;
            border-radius: 4px 4px 0 0;
          }

          .row-sub {
            display: flex;
            flex-wrap: wrap;
            padding: 0 24px;

            & + .row-sub {
              margin-top: 36px;
            }
          }

          .sub-col {
            width: 50%;
            margin-top: 20px;

            .label {
              color: #939393;
              font-weight: 500;
              font-size: 12px;
              line-height: 16px;
            }

            .data {
              margin-top: 12px;
              color: #152131;
              font-weight: 600;
              font-size: 16px;
              line-height: 23px;
            }
          }

          .desc {
            margin-top: 24px;
            color: #939393;
            font-size: 14px;
            font-weight: 500;
            line-height: 2;
          }
        }
      }

      .expt-bot {
        display: flex;
        margin: 28px -10px 0 -24px;

        .price {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 400px;
          height: 80px;
          padding: 0 24px;
          background: #f7f7f7;

          .price-label {
            color: #939393;
            font-size: 12px;
            font-weight: 500;
          }

          .price-num {
            color: #ff0247;
            font-size: 24px;
            font-weight: 600;
          }
        }

        .btn-cancel {
          display: flex;
          align-items: center;
          justify-content: center;
          width: calc(100% - 400px);
          height: 80px;
          color: #fefefe;
          font-size: 18px;
          font-weight: 500;
          background: #152131;
        }
      }
    }    
  }

  .modal-btnClose {
    position: absolute;
    top: 0;
    right: -94px;
    width: 64px;
    height: 64px;
    background: url($imgCommon + 'btn-close-modal.png') 0/100% no-repeat;
  }

  .btnCloseLogin {
    position: absolute;
    top: 0;
    right: -62px;
    width: 42px;
    height: 42px;
    background: url($imgCommon + 'btn-close-login.png') 0/100% no-repeat;
  }

  .modal-btnCloseBig {
    position: absolute;
    top: 0;
    right: -93px;
    width: 64px;
    height: 64px;
    background: url($imgCommon + 'btn-modal-close2.png') 0/100% no-repeat;
  }

  .mProcess {
    position: relative;
    min-width: 950px;
    background: #fff;
    border-radius: 4px;

    &__cont {
      padding: 124px 0;
    }

    &__title {
      position: relative;
      padding-top: 180px;
      color: #152131;
      font-family: ROKAF Slab Serif;
      font-size: 32px;
      font-weight: 500;
      line-height: 1;
      text-align: center;

      &.info {

        &:before {
          background-image: url($imgIcon + 'ico-modal-info.png');
        }
      }

      &.ok {

        &:before {
          background-image: url($imgIcon + 'ico-modal-ok.png');
        }
      }

      &.check {

        &:before {
          background-image: url($imgIcon + 'ico-modal-check.png');
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 140px;
        height: 140px;
        margin-left: -70px;
        background-size: 140px;
      }
    }

    &__txt {
      margin-top: 20px;
      color: #939393;
      font-family: ROKAF Slab Serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1;
      text-align: center;
    }

    &__btn {
      display: block;
      width: 164px;
      margin: 80px auto 0;
      border-radius: 4px;
      background: $themeColor01;

      &Txt {
        display: block;
        color: #fff;
        font-weight: 500;
        font-size: 18px;
        line-height: 64px;
        text-align: center;
      }
    }
  }  

  .guide {
    position: relative;
    width: 640px;
    background-color: #fff;
    border-radius: 4px;

    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 102px;
      font-family: ROKAF Slab Serif;
      font-size: 22px;
      font-weight: 500;
      color: #152131;
    }

    &__cont {
      padding: 80px 0;
      border-top: 1px solid #e6e6e6;
    }

    &__txt {
      font-family: ROKAF Slab Serif;
      font-size: 22px;
      font-weight: 500;
      line-height: 1.91;
      text-align: center;
      color: #152131;
    }

    &__bot {
      display: flex;
    }

    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 80px;

      &.cancel {
        font-size: 18px;
        font-weight: 500;
        color: #939393;
        background-color: #f7f7f7;
      }

      &.confirm {
        font-size: 18px;
        font-weight: 500;
        color: #fefefe;
        background-color: #152131;
      }
    }
  }
}