.main {
  padding-top: 105px;
}

.main .main-top {
  height: 600px;
  background-color: #000;
}

.main .main-top .slogan {
  padding-top: 140px;
  color: #cc9d76;
  font-family: 'rokaf-slab';
  font-weight: 700;
  font-size: 64px;
  line-height: 1;
}

.main .main-top .slogan2 {
  margin-top: 16px;
  color: #cc9d76;
  font-size: 28px;
  line-height: 40px;
}

.main .main-top .labels {
  margin-top: 50px;
}
