.main {
  overflow: hidden;

  .main-top {
    height: 706px;
    padding-top: 106px;
    background-color: #000;

    .slogan {
      padding-top: 140px;
      color: #cc9d76;
      font-family: 'rokaf-slab';
      font-weight: 700;
      font-size: 64px;
      line-height: 1;
    }

    .slogan2 {
      margin-top: 16px;
      color: #cc9d76;
      font-size: 28px;
      line-height: 40px;
    }

    .labels {
      margin-top: 50px;
    }

    .desc {
      margin-top: 20px;
      color: $themeColor05;
      font-size: 16px;
      line-height: 24px;
    }

    .mt-cnt {
      display: flex;
      width: 720px;
      margin-top: 86px;
      background-color: #f7f7f7;
      box-shadow: 0 1px 4px 0 rgba(82, 91, 107, 0.2);
      border: solid 1px #e6e6e6;
      border-radius: 4px;
    }

    .mt-cnt-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 198px;
      border-right: 1px solid #e6e6e6;

      &:last-child {
        border-right: 0;
      }

      .num {
        color: #000919;
        font-family: 'play-bold';
        font-size: 64px;
        line-height: 74px;
      }

      .item-txt {
        margin-top: 16px;
        color: #525b6b;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
      }
    }

    .rec-service {
      width: 280px;
      height: 600px;
      margin-top: 100px;
      padding: 0 30px 50px;
      border-radius: 4px;
      box-shadow: 0 1px 4px 0 rgba(255, 255, 255, 0.16);
      background-color: #003535;

      .rec-text1 {
        padding: 73px 0;
        color: #fff;
        font-family: 'ROKAF-slab';
        font-size: 48px;
        font-weight: 500;
        line-height: 1.42;
      }

      .rec-text2 {
        position: relative;
        padding-top: 22px;
        color: rgba(254, 254, 254, 0.5);
        font-size: 18px;
        line-height: 2;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 1px;
          box-shadow: 0 1px 4px 0 rgba(82, 91, 107, 0.2);
          background-color: rgba(230, 230, 230, 0.2);
        }
      }

      .rec-dr {
        display: flex;
        justify-content: flex-end;
        margin-top: 40px;
      }
    }
  }

  .find-expert {
    padding-bottom: 120px;

    .fe-head {
      display: flex;
      align-items: center;
      height: 64px;
      margin: 0 -40px;
      padding: 0 40px;

      .fe-title {
        position: absolute;
        top: 20px;
        left: 0;
        color: #cc9d76;
        font-family: 'rokaf-slab';
        font-weight: 500;
        font-size: 24px;
        line-height: 1;
      }

      .specialty {
        display: flex;
        align-items: center;
        margin-left: 495px;

        .title {
          margin-right: 40px;
          color: #fefefe;
          font-weight: 500;
          font-size: 16px;
          line-height: 23px;
          white-space: nowrap;
        }
      }
    }

    .keyword-scroll {
      width: 444px;

      .ks-tab {
        padding: 7px 16px 6px;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        border-radius: 4px;
        background-color: rgba(254, 254, 254, 0.2);
        white-space: nowrap;
      }
    }

    .util-menu {
      display: flex;
      position: absolute;
      top: 14px;
      right: 0;

      .menu-item {

        a {
          display: block;
          width: 36px;
          height: 36px;
          margin-left: 8px;
          background-size: 100%;
          background-repeat: no-repeat;
          
          &.btn-search {
            background-image: url($imgMain + 'btn-expert-search.png');
          }
          
          &.btn-down-up {
            background-image: url($imgMain + 'btn-close-expert.png');

            &.close {
              background-image: url($imgMain + 'btn-open-expert.png');
            }
          }
        }
      }
    }

    .expert-swiper {
      margin: 0 -16px;
      padding: 32px 16px 0;

      .swiper-slide {
        position: relative;
        width: 455px;
        height: 240px;
        padding: 28px;
        border-radius: 10px;
        overflow: hidden;

        .keyword {
          display: block;
          margin-top: 28px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #ffb96c;
          font-family: 'rokaf-slab';
          font-weight: 500;
          font-size: 20px;
          line-height: 1;
        }

        .contacts {
          display: flex;
          margin-top: 16px;

          &-ctg {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 8px;
            padding: 3px 8px 6px;
            color: #ffb96c;
            font-family: 'rokaf-slab';
            font-weight: 500;
            font-size: 16px;
            border-radius: 4px;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .thumb-name {
          display: flex;
          align-items: center;

          .thumb {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 84px;
            height: 84px;
            border-radius: 8px;
            overflow: hidden;
          }
        }

        .name {
          display: flex;
          align-items: flex-end;
          position: relative;
          top: -2px;
          margin-left: 16px;
          color: #fff;
          font-family: 'rokaf-slab';
          font-weight: 500;
          font-size: 24px;

          strong {
            margin-right: 6px;
            color: #fff;
            font-family: 'rokaf-slab';
            font-weight: 500;
            font-size: 42px;
            line-height: 1;
          }
        }
      }
    }

    &.lawyer {
      padding-top: 220px;

      .fe-head {
        background-color: #0b2b5c;
      }

      .expert-swiper {

        .swiper-slide {
          background: url($imgMain + 'bg-find-lawyer.png') 0 0/100%;
        }         
      }

      .btn-recommend {
        background-color: #1e6ee8;
      }
    }

    &.da {

      .fe-head {
        background-color: #003535;
      }

      .expert-swiper {

        .swiper-slide {
          background: url($imgMain + 'bg-find-da.png') 0 0/100%;
        }
      }

      .btn-recommend {
        background-color: #018786;
      }
    }

    &.detective {

      .fe-head {
        background-color: #4c0a15;
      }

      .expert-swiper {

        .swiper-slide {
          background: url($imgMain + 'bg-find-detective.png') 0 0/100%;
        }
      }

      .btn-recommend {
        background-color: #bf1b37;
      }
    }

    .btn-row {
      display: flex;
      margin-top: 40px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 64px;
        border-radius: 32px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);

        .txt {
          font-weight: 500;
          font-size: 20px;
        }

        &.btn-recommend {
          width: 455px;

          .txt {
            color: #fff;
          }
        }

        &.btn-view {
          width: 785px;
          margin-left: 40px;
          background-color: #f7f7f7;

          .txt {
            color: #152131;
          }
        }
      }
    }
  }  

  .slogan-banner {
    background: url($imgMain + 'bg-slogan-banner.png') 0/cover;

    .inner {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 200px;
    }

    .slogan-banner-txt1 {
      color: $themeColor05;
      font-family: 'rokaf-slab';
      font-weight: 500;
      font-size: 18px;
      line-height: 1;
      letter-spacing: 6.12px;
    }

    .slogan-banner-txt2 {
      margin-top: 24px;
      color: $themeColor01;
      font-family: 'rokaf-slab';
      font-weight: 700;
      font-size: 48px;
      line-height: 1;
      letter-spacing: 38.4px;
    }
  }

  .section-head {
    padding-top: 120px;

    .section-title-before {
      color: $themeColor01;
      font-family: 'rokaf-slab';
      font-weight: 700;
      font-size: 18px;
      line-height: 1;
      letter-spacing: 6.12px;
      text-transform: uppercase;
    }

    .section-title {
      margin-top: 20px;
      color: #000919;
      font-weight: 300;
      font-size: 36px;
      line-height: 50px;

      strong {
        font-weight: 600;
      }
    }

    .section-title-after {
      margin-top: 20px;
      color: $themeColor05;
      font-weight: 500;
      font-size: 16px;
      line-height: 23px;
    }
  }

  .event {
    position: relative;

    .events-swiper {
      margin-top: 68px;

      .swiper-slide {
  
        a {
          display: block;
        }
      }
    }
  
    .event-move {
      display: flex;
      position: absolute;
      top: 187px;
      right: 0;

      .event-next {
        margin-left: 20px;
      }
    }

    .event-pagination {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      bottom: 0;
      right: 0;

      .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        margin: 0 0 0 20px;
        background-color: #fff;
        border: 2px solid $themeColor01;
        opacity: 1;
      }

      .swiper-pagination-bullet-active {
        width: 64px;
        background-color: $themeColor01;
        border-radius: 10px;
      }
    }

    .event-txt {
      margin-top: 40px;
      color: #525b6b;
      font-size: 17px;
      line-height: 25px;
    }
  }

  .services {

    .services-move {
      display: flex;
      position: absolute;
      top: 187px;
      right: 0;

      .services-next {
        margin-left: 20px;
      }
    }

    .services-swiper {
      overflow: initial;
      margin-top: 60px;

      .swiper-slide {
        position: relative;
        width: 620px;
        height: 620px;

        &:hover {

          .hidden-cont {
            display: block;
          }
        }

        .txt-col {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 0 0 80px 40px;

          .txt1 {
            color: #fefefe;
            font-family: 'rokaf-slab';
            font-weight: 700;
            font-size: 18px;
            line-height: 1;
            letter-spacing: 6.12px;
            text-transform: uppercase;
          }

          .txt2 {
            margin-top: 20px;
            color: #fefefe;
            font-family: 'rokaf-slab';
            font-weight: 500;
            font-size: 36px;
            line-height: 1;
          }
        }

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 1;
          width: 124px;
          height: 124px;
          background: url($imgMain + 'btn-services-view.png') 0/100%;
          transform: translate(-50%, -50%);
        }

        .hidden-cont {
          display: none;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 2;
          padding: 80px 40px 60px;
          background-color: rgba(0, 9, 25, 0.85);

          .service-num {
            color: #fff;
            font-family: 'rokaf-slab';
            font-weight: 700;
            font-size: 18px;
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: 6.12px;
          }

          .service-title {
            margin-top: 20px;
            color: #fff;
            font-family: 'rokaf-slab';
            font-weight: 500;
            font-size: 36px;
            line-height: 1;
          }

          .cont-txt {
            margin-top: 57px;
            color: #fff;
            font-size: 18px;
            line-height: 1.78;
          }
        }
      }
    }
  }

  .resolution-case {
    padding-bottom: 120px;

    .case-tab {
      display: flex;
      margin-top: 53px;

      .tab-btn {
        display: flex;
        align-items: center;
        height: 57px;
        margin-right: 20px;
        padding: 0 20px;
        color: #152131;
        font-weight: 500;
        font-size: 24px;
        border-radius: 4px;

        &.active {
          color: #fff;
          
          &.lawyer {
            background-color: #1e6ee8;
          }

          &.da {
            background-color: #018786;
          }

          &.detective {
            background-color: #bf1b37;
          }
        }
      }
    }

    .sub-tab {
      display: none;
      position: relative;
      margin-top: 20px;
      padding: 20px 0;
      border-top: 1px solid #f1f2f5;
      border-bottom: 1px solid #f1f2f5;

      &.active {
        display: block;
      }

      .swiper-slide {
        width: auto;

        .btn-ctgr {
          display: flex;
          align-items: center;
          height: 42px;
          padding: 0 20px;
          color: #152131;
          font-weight: 500;
          font-size: 18px;
          border-radius: 4px;
          white-space: nowrap;

          &.active {
            color: #fff;
            background-color: #1e6ee8;
          }
        }
      }

      .button-next {
        position: absolute;
        top: 50%;
        right: -82px;
        transform: translateY(-50%);
        cursor: pointer;
      }

      .button-prev {
        position: absolute;
        top: 50%;
        left: -82px;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }

    .tab-content {
      display: none;

      &.active {
        display: block;
      }

      .case-card {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .card-item {
          position: relative;
          width: calc(50% - 20px);
          margin-top: 40px;
          padding: 0 20px;
          border-radius: 8px;
          border: 1px solid #fff;
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);

          &:hover {
            border-color: #1e6ee8;
          }
        }

        .card-cont {
          padding: 30px 0 20px;

          .title {
            display: block;
            color: #152131;
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
          }

          .subject {
            display: block;
            max-width: 520px;
            margin-top: 30px;
            color: #152131;
            font-weight: 500;
            font-size: 24px;
            line-height: 33px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .case-content {
            margin-top: 8px;
            color: #939393;
            font-weight: 500;
            font-size: 16px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-height: 24px;
            height: 48px;
          }
        }

        .card-foot {
          height: 47px;
          border-top: 1px solid #e6e6e6;

          span {
            position: relative;
            color: #939393;
            font-size: 15px;

            &.date {
              padding-left: 24px;

              &:before {
                width: 14px;
                height: 14px;
                background-image: url($imgCommon + 'ic_time.png');
              }
            }

            &.view-cnt {
              padding-left: 28px;

              &:before {
                width: 18px;
                height: 12px;
                background-image: url($imgCommon + 'ic_view.png');
              }
            }

            &:before {
              content: '';
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              background-size: 100%;
              background-repeat: no-repeat;
            }
          }
        }

        .book-mark {
          position: absolute;
          top: 26px;
          right: 29px;
          z-index: 1;
          width: 24px;
          height: 32px;
          background: url($imgCommon + 'book-mark.png') 0/100% no-repeat;

          &.active {
            background: url($imgCommon + 'book-mark-checked.png') 0/100% no-repeat;
          }
        }
      }
    }

    .btn-row {
      margin-top: 60px;
    }

    .case-online {
      margin-top: 40px;
      text-align: center;

      .online-txt1 {
        color: #939393;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
      }

      .online-txt2 {
        display: inline-block;
        margin-top: 6px;
        color: #152131;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        text-decoration: underline;
      }
    }

    .more {
      position: absolute;
      top: 214px;
      right: 0;
      padding-right: 32px;
      color: #939393;
      font-family: 'rokaf-slab';
      font-size: 16px;
      line-height: 20px;
      background: url($imgCommon + 'more-bg.png') 100% 50%/20px no-repeat;
    }
  }

  .bo-lately {
    position: relative;
    padding-bottom: 120px;

    .bo-head {
      background: url($imgMain + 'bo-lately-bg.jpg') 50%/cover;
    }

    .section-head {
      padding: 80px 0;
    }

    .bo-tab {
      display: flex;
      margin-top: 40px;

      .tab-btn {
        display: flex;
        align-items: center;
        position: relative;
        height: 64px;
        margin-right: 40px;
        color: $themeColor05;
        font-weight: 900;
        font-size: 24px;

        &.active {
          color: $themeColor01;

          &:before {
            content: '';
            position: absolute;
            top: 4px;
            left: 50%;
            width: 6px;
            height: 6px;
            background-color: $themeColor01;
            border-radius: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }

    .bo-cont {
      display: none;
      margin-top: 8px;
      border-top: 4px solid #152131;

      &.active {
        display: block;
      }
    }

    .bo-list {

      .list-row {
        display: flex;
        flex-wrap: wrap;
        height: 200px;
        border-bottom: 1px solid #e6e6e6;

        &:hover {
          background-color: #f7f7f7;

          .num {
            color: #152131;
          }

          .date {
            color: #152131;
          }
        }
      }

      .col-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 200px;
      }

      .num {
        display: block;
        color: #c1c1c1;
        font-weight: 900;
        font-size: 48px;
        line-height: 67px;
      }

      .date {
        display: block;
        margin-top: 8px;
        color: #c1c1c1;
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
      }

      .col-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: calc(100% - 200px);

        .direction {
          position: absolute;
          top: 50%;
          right: 20px;
          z-index: 1;

          a {
            display: block;
            width: 36px;
            height: 36px;
            background: url($imgCommon + 'link-arrow.png') 0/100% no-repeat;
            transform: translateY(-50%);
          }
        }
      }

      .cont-top {
        display: flex;
      }

      .label {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 20px;
        color: #fff;
        font-weight: 900;
        font-size: 20px;
        background-color: $themeColor01;
      }

      .subject {
        margin-left: 20px;
        color: #152131;
        font-weight: 600;
        font-size: 24px;
        line-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .cont-bottom {
        margin-top: 16px;
      }

      .cont-txt {
        padding-right: 115px;
        color: $themeColor05;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-height: 56px;
      }
    }

    .btn-row {
      margin-top: 80px;

      a {
        text-transform: uppercase;

        &:first-child {
          letter-spacing: 4px;
        }
      }
    }

    .more {
      position: absolute;
      top: -141px;
      right: 0;
      padding-right: 32px;
      color: #939393;
      font-family: 'rokaf-slab';
      font-size: 16px;
      line-height: 20px;
      background: url($imgCommon + 'more-bg.png') 100% 50%/20px no-repeat;
    }
  }

  .contact-us {
    padding-bottom: 80px;
    background-color: #f1f2f5;

    .cu-head {
      height: 360px;
      text-align: center;
      background: url($imgMain + 'bg-contact-us.jpg') 50% 0/cover;

      .section-head {
        padding-top: 80px;

        .section-title,
        .section-title-after {
          color: #fefefe;

          strong {
            color: #fefefe;
          }
        }
      }
    }

    .cu-cont {
      margin-top: -90px;

      .cu-cs {
        padding: 64px 60px;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
        background-color: #fff;
        border-radius: 10px;

        & + .cu-cs {
          margin-top: 40px;
        }
      }

      .cu-tit {
        color: #152131;
        font-family: 'rokaf-slab';
        font-weight: 500;
        font-size: 28px;
        line-height: 1;
        text-align: center;
      }

      .cu-btn-row {
        display: flex;
        justify-content: center;
        margin-top: 60px;

        .btn-link {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 84px;
          color: #152131;
          font-weight: 700;
          font-size: 22px;
          border-radius: 8px;
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
          border: solid 1px #e6e6e6;
          background-color: #f1f2f5;

          & + .btn-link {
            margin-left: 40px;
          }
        }
      }

      .guide-txt {
        margin-top: 40px;
        color: #939393;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
      }

      .cu-app {
        display: flex;
        justify-content: center;
        margin-top: 64px;
        padding-top: 40px;
        border-top: 1px solid #e6e6e6;

        dl {
          display: flex;
          align-items: center;
          margin: 0 56px;
        }

        dt {
          position: relative;
          top: -5px;
          margin-right: 20px;
          color: #152131;
          font-family: 'rokaf-slab';
          font-weight: 500;
          font-size: 22px;
          line-height: 30px;
          text-align: center;
        }

        dd {
          display: flex;
          
          figure {
            margin-left: 40px;

            &:first-child {
              width: 60px;
            }
          }
        }
      }
    }
  }

  .partners {
    position: relative;
    padding-bottom: 86px;

    .partners-head {
      height: 360px;
      background: url($imgMain + 'bg-partners.jpg') 50% 0/cover;

      .section-head {
        padding-top: 80px;

        .section-title {
          color: #fefefe;

          strong {
            color: #fefefe;
          }
        }

        .section-title-after {
          color: #939393;
        }
      }
    }

    .partners-ban {
      margin-top: -80px;
      padding-right: 120px;
    }

    .partners-swiper {
      height: 440px;
      overflow: initial;

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        height: 200px;
  
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;      

        a {
          display: block;
          border: 1px solid #e6e6e6;  

          &:hover {
            border-color: #cc9d76;
          }
        }
      }
    }

    .move-wrap {
      display: flex;
      position: absolute;
      top: 147px;
      right: 0;

      .move {
        cursor: pointer;
      }

      .next {
        margin-left: 20px;
      }
    }
  }

  .btn-default {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);

    & + .btn-default {
      margin-left: 40px;
    }

    &.theme01 {
      background-color: $themeColor01;
    }

    &.theme05 {
      background-color: $themeColor05;
    }

    .txt {
      color: #fff;
      font-size: 20px;
      font-weight: 500;
    }
  }
}
