.mypage {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;

  .mp-nav {
    width: 280px;

    .nav-mp {
      border: 1px solid #e6e6e6;
      border-radius: 4px 4px 0 0;
      overflow: hidden;
      border-bottom: 0;
    }

    .mp-title {
      display: flex;
      align-items: center;
      height: 64px;
      padding-left: 20px;
      color: $themeColor01;
      font-family: ROKAF Slab Serif;
      font-size: 18px;
      font-weight: 500;
      background: #000;
    }

    .nav-list {

      &-item {
        border-bottom: 1px solid #e6e6e6;

        &:first-child {
          border-top: 1px solid #e6e6e6;
        }
      }

      &-btn {
        display: flex;
        align-items: center;
        height: 64px;
        padding-left: 20px;
        color: #152131;
        font-weight: 500;
        font-size: 16px;
        background: url($imgIcon + 'ico-mp-arrow-right.png') calc(100% - 14px) 50% no-repeat;

        &.active,
        &:hover {
          color: $themeColor01;
        }
      }
    }

    .nav-bottom {

      .nav-list {
        display: none;
      }
    }

    .nav-head-item {
      border-bottom: 1px solid #e6e6e6;
    }

    .nav-head-btn {
      display: flex;
      align-items: center;
      height: 64px;
      padding-left: 20px;
      color: #939393;
      font-family: ROKAF Slab Serif;
      font-size: 18px;
      font-weight: 500;
      background: #000 url($imgIcon + 'ico-mp-arrow-down.png') calc(100% - 14px) 50% no-repeat;

      &.active {
        background: #000 url($imgIcon + 'ico-mp-arrow-up.png') calc(100% - 14px) 50% no-repeat;
      }
    }    
  }

  .mp-body {
    width: 950px;

    .sub-row-head {

      .btn-login {
        display: flex;
        align-items: center;
        height: 36px;
        padding: 0 22px;
        color: #fff;
        font-family: ROKAF Slab Serif;
        font-size: 12px;
        font-weight: 500;
        border-radius: 18px;
        background: $themeColor01;

        &.login {
          background: #939393;
        }
      }

      &.online-history {

        .select {
          width: 260px;
          height: 32px;
          background-color: #f7f7f7;
        }
      }    
      
      .history-cnt {
        color: #0336ff;
        font-family: ROKAF Slab Serif;
        font-size: 18px;
        font-weight: 500;

        em {
          color: #0336ff;
          font-family: ROKAF Slab Serif;
          font-size: 18px;
          font-weight: 500;
          text-decoration: underline;
        }
      }
    }

    .login-before {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 236px;
      margin: 20px 0;
      border-radius: 4px;
      border: solid 1px #e6e6e6;
      background-color: #f7f7f7;

      .before-txt {
        color: #939393;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
      }
    }

    .account-info {
      display: flex;
      justify-content: space-between;
      margin: 20px 0 72px;

      .info-card {
        width: 464px;
        border-radius: 4px;
        border: solid 1px #e6e6e6;

        .user-info {
          display: flex;
          align-items: center;
          height: 140px;
          padding: 0 20px;
        }

        .mark-img {
          width: 64px;
          height: 64px;
        }

        .user-summary {
          margin-left: 20px;

          .user-name {
            display: flex;
            align-items: baseline;
          }

          .name {
            font-family: ROKAF Slab Serif;
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 4.8px;
          }

          .nick-name {
            margin-left: 10px;
            font-family: ROKAF Slab Serif;
            font-size: 16px;
            font-weight: 500;
          }

          .user-b-s-p {
            margin-top: 12px;

            .bsp-txt {
              font-family: ROKAF Slab Serif;
              font-size: 16px;
              font-weight: 500;
              line-height: 1;
              color: #939393;

              &:after {
                content: '/';
                display: inline-flex;
                margin: 0 7px;
                font-family: ROKAF Slab Serif;
                font-size: 16px;
                font-weight: 500;
                line-height: 1;
                color: #939393;
              }

              &:last-child {

                &:after {
                  display: none;
                }
              }
            }
          }
        }

        .login-info {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;

          .email {
            color: $themeColor01;
            font-family: ROKAF Slab Serif;
            font-size: 24px;
            font-weight: 500;
            line-height: 1;
          }

          .login-acc {
            margin-top: 12px;
            font-family: ROKAF Slab Serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 1;
            color: #939393;
          }
        }
      }
    }

    .app-status {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 236px;
      margin: 20px 0;
      border: solid 1px #e6e6e6;
      background-color: #f7f7f7;

      .status-sub {
        width: 160px;
        margin: 0 10px;

        &.cnt0 {

          .board {
            background-color: #f7f7f7;
          }

          .cnt {
            color: #c1c1c1;
            border-bottom: 0;
          }
        }
      }

      .board {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        border-radius: 4px;
        border: solid 1px #e6e6e6;
        background-color: #fff;

        .cnt {
          color: #0336ff;
          font-size: 32px;
          font-weight: 900;
          border-bottom: 3px solid #0336ff;
          line-height: 0.9;
        }
      }

      .sub-name {
        display: block;
        margin-top: 20px;
        font-family: ROKAF Slab Serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
        text-align: center;
      }
    }

    .apply-status {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #e6e6e6;

      .as-col {
        display: flex;

        .as-col-sub {
          display: flex;
          align-items: center;
          margin: 0 20px;
          height: 56px;
        }

        .label {
          color: #525b6b;
          font-family: ROKAF Slab Serif;
          font-size: 16px;
          font-weight: 500;
        }

        .cnt {
          display: flex;
          margin-left: 10px;
          color: #0336ff;
          font-family: ROKAF Slab Serif;
          font-size: 16px;
          font-weight: 500;

          span {
            position: relative;
            margin-right: 3px;
            text-decoration: underline;
            color: #0336ff;
            font-family: ROKAF Slab Serif;
            font-size: 16px;
            font-weight: 500;
          }

          &.zero {
            color: #939393;
            text-decoration: none;
          }
        }
      }
    }

    .online-history-tbl {

      .history-tbl {
        width: 100%;

        thead {

          th {
            height: 48px;
            color: #525b6b;
            font-size: 16px;
            font-weight: 500;
            background-color: #f7f7f7;
            vertical-align: middle;
          }
        }

        tbody {
          tr {

            &[role="button"] {
              cursor: pointer;
            }

            &.review {

              &.active {

                & + .review-row {
                  display: table-row;
                }
              }
            }

            &.review-row {
              display: none;
              
              .review-txt {
                padding: 20px;
                color: #152131;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.75;
                background: #f7f7f7;
                text-align: left;
              }
            }

            &:hover {
              background: #f7f7f7;
            }
          }

          td {
            padding: 28px 0;
            vertical-align: middle;
            text-align: center;
          }

          .expt-info {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            padding-left: 16px;
            text-align: left;

            .info-img {
              width: 64px;
              height: 64px;
              border-radius: 4px;
              overflow: hidden;
            }

            .name-comp {
              width: calc(100% - 84px);
              margin-left: 20px;

              .name {
                font-family: ROKAF Slab Serif;
                font-size: 22px;
                font-weight: 500;
                line-height: 1;
                color: #152131;
              }

              .comp {
                margin-top: 10px;
                font-family: ROKAF Slab Serif;
                font-size: 10px;
                font-weight: 500;
                line-height: 1;
                color: #939393;

              }
            }
          }

          .expt-label {
            font-size: 16px;
            font-weight: 500;

            &.lawyer {
              color: #1e6ee8;
            }

            &.da {
              color: #018786;
            }

            &.detective {
              color: #bf1b37;
            }
          }

          .type {
            display: inline-flex;
            align-items: center;
            height: 28px;
            padding: 0 9px;
            color: #fff;
            font-family: ROKAF Slab Serif;
            font-size: 16px;
            font-weight: 500;
            background: $themeColor01;
            border-radius: 4px;
          }

          .type-condition {
            display: block;
            margin-top: 10px;
            color: $themeColor01;
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            text-align: center;
          }

          .situation {

            .txt {
              display: block;
              color: #152131;
              font-size: 16px;
              font-weight: 500;
              line-height: 25px;
            }

            .go-answer {
              color: #0336ff;
              font-size: 16px;
              font-weight: 500;
              line-height: 25px;
              text-decoration: underline;
            }
          }

          .date {

            .txt {
              display: block;
              color: #152131;
              font-size: 16px;
              font-weight: 500;
              line-height: 25px;

              &.cancel {
                color: #939393;
                text-decoration: line-through;
              }

              &.done {
                color: #939393;
              }
            }

            .d-day {
              display: block;
              color: #0336ff;
              font-weight: 500;
              font-size: 16px;
              line-height: 23px;
              text-align: center;
            }            

            .w-review {
              display: inline-flex;
              align-items: center;
              height: 28px;
              margin-top: 10px;
              padding: 0 9px;
              color: #fff;
              font-family: ROKAF Slab Serif;
              font-size: 16px;
              font-weight: 500;
              background: $themeColor01;
              border-radius: 4px;
            }
          }

          .view-detail {
            display: inline-flex;
            align-items: center;
            height: 28px;
            padding: 0 9px;
            color: #152131;
            font-family: ROKAF Slab Serif;
            font-size: 16px;
            font-weight: 500;
            background: #f7f7f7;
            border: 1px solid #e6e6e6;
            border-radius: 4px;
          }

          .btn-cancel-wish {
            position: relative;
            padding-left: 32px;
            font-family: ROKAF Slab Serif;
            font-size: 16px;
            font-weight: 500;
            text-align: left;
            color: #0336ff;
            text-decoration: underline;

            &:before {
              content: '';
              position: absolute;
              top: 50%;
              left: 0;
              width: 24px;
              height: 24px;
              background: url($imgCommon + 'ico-favorite-active.png') 0/24px no-repeat;
              transform: translateY(-50%);
            }
          }

          .btn-cancel-bm {
            position: relative;
            padding-left: 24px;
            font-family: ROKAF Slab Serif;
            font-size: 16px;
            font-weight: 500;
            text-align: left;
            color: #0336ff;
            text-decoration: underline;

            &:before {
              content: '';
              position: absolute;
              top: calc(50% - 1px);
              left: 0;
              width: 14px;
              height: 18px;
              background: url($imgCommon + 'book-mark-checked.png') 0/14px no-repeat;
              transform: translateY(-50%);
            }
          }

          .bm-info {
            padding-left: 28px;
            text-align: left;

            .bm-type {
              color: #939393; 
              font-size: 12px;
              font-weight: 500;
            }

            .bm-sbj {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              margin-top: 10px;
              font-size: 18px;
              font-weight: bold;
              color: #152131;
            }
          }
        }

        .checkbox {
          justify-content: center;
        }
      }

      .history-bot {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;

        .btn-row {
          width: 100%;
        }

        .btn-reg-review {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 280px;
          height: 64px;
          font-family: ROKAF Slab Serif;
          font-size: 18px;
          font-weight: 500;
          color: #fff;
          background: $themeColor01;
          border-radius: 4px;
        }
      }
    }

    .btn-mp-gray {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 36px;
      padding: 0 28px;
      color: #fefefe;
      font-family: ROKAF Slab Serif;
      font-size: 12px;
      font-weight: 500;
      background: #939393;
      border-radius: 18px;
    }   
    
    .no-data {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 236px;
      margin-top: 20px;
      border-radius: 4px;
      border: solid 1px #e6e6e6;
      background-color: #f7f7f7;

      &-txt {
        font-size: 16px;
        font-weight: 500;
        color: #939393;
      }
    }

    .sch-box {
      position: relative;

      .sch-inp {
        width: 240px;
        height: 36px;
        border-radius: 21px;
        border: solid 1px #c1c1c1;
        background-color: #fff;
      }

      .btn-sch {
        position: absolute;
        top: 9px;
        right: 10px;
        width: 18px;
        height: 18px;
        background: url($imgCommon + 'btn-mp-sch.png') 0/100% no-repeat;
      }
    }
  }

  .mp-tab {
    position: relative;
    padding: 20px 62px;
    border-bottom: 2px solid #f1f2f5;

    & + .case-card {
      margin-top: 40px;
    }

    .swiper-slide {
      width: auto;

      .btn-ctgr {
        display: flex;
        align-items: center;
        height: 42px;
        padding: 0 20px;
        color: #152131;
        font-weight: 500;
        font-size: 18px;
        border-radius: 4px;
        white-space: nowrap;

        &.active {
          color: #fff;
          background-color: #1e6ee8;
        }
      }
    }

    .button-next {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      cursor: pointer;
    }

    .button-prev {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  .case-card {

    &.faq {

      .card-cont {
        padding: 20px 0;
      }
    }

    .card-item {
      position: relative;
      margin-top: 20px;
      padding: 0 20px;
      border-radius: 8px;
      border: 1px solid #fff;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);

      &:hover {
        border-color: #1e6ee8;
      }
    }

    .card-cont {
      padding: 30px 0 20px;

      .title {
        display: block;
        color: #152131;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        & + .subject {
          margin-top: 30px;
        }
      }

      .subject {
        display: block;
        max-width: 520px;
        color: #152131;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .case-content {
        margin-top: 8px;
        color: #939393;
        font-weight: 500;
        font-size: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 24px;
        height: 48px;
      }
    }

    .card-foot {
      height: 47px;
      border-top: 1px solid #e6e6e6;

      span {
        position: relative;
        color: #939393;
        font-size: 15px;

        &.date {
          padding-left: 24px;

          &:before {
            width: 14px;
            height: 14px;
            background-image: url($imgCommon + 'ic_time.png');
          }
        }

        &.view-cnt {
          padding-left: 28px;

          &:before {
            width: 18px;
            height: 12px;
            background-image: url($imgCommon + 'ic_view.png');
          }
        }

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          background-size: 100%;
          background-repeat: no-repeat;
        }
      }
    }

    .book-mark {
      position: absolute;
      top: 26px;
      right: 29px;
      z-index: 1;
      width: 24px;
      height: 32px;
      background: url($imgCommon + 'book-mark.png') 0/100% no-repeat;

      &.active {
        background: url($imgCommon + 'book-mark-checked.png') 0/100% no-repeat;
      }
    }
  }

  .case-view {
    position: relative;
    margin-top: 20px;
    padding: 0 20px;
    border-radius: 8px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 16%);    

    .card-cont {
      padding: 30px 0 20px;

      .title {
        display: block;
        color: #152131;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;

        & + .subject {
          margin-top: 30px;
        }
      }

      .subject {
        display: block;
        max-width: 520px;
        color: #152131;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .case-content {
        margin-top: 20px;
        color: #939393;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }
    }

    .card-foot {
      height: 47px;
      border-top: 1px solid #e6e6e6;

      span {
        position: relative;
        color: #939393;
        font-size: 15px;

        &.date {
          padding-left: 24px;

          &:before {
            width: 14px;
            height: 14px;
            background-image: url($imgCommon + 'ic_time.png');
          }
        }

        &.view-cnt {
          padding-left: 28px;

          &:before {
            width: 18px;
            height: 12px;
            background-image: url($imgCommon + 'ic_view.png');
          }
        }

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          background-size: 100%;
          background-repeat: no-repeat;
        }
      }
    }

    .book-mark {
      position: absolute;
      top: 26px;
      right: 29px;
      z-index: 1;
      width: 24px;
      height: 32px;
      background: url($imgCommon + 'book-mark.png') 0/100% no-repeat;

      &.active {
        background: url($imgCommon + 'book-mark-checked.png') 0/100% no-repeat;
      }
    }
  }  
}