.sample-wrap {
  padding: 30px;
}

.sample-wrap .sample-heading {
  font-size: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid;
}

.sample-wrap .sample-heading2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

.sample-wrap .el-wrap {
  margin-top: 20px;
}
