.conTab {
  display: flex;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    color: #152131;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid #e6e6e6;
    background-color: #fff;

    & + .conTab__btn {
      margin-left: -1px;
      width: calc(100% + 1px);
    }

    &.default {
      
      &.active {
        color: #fefefe;
        background-color: $themeColor01;
        border-color: $themeColor01;
      }
    } 

    &.lawyer {
      
      &.active {
        color: #fefefe;
        background-color: #0b2b5c;
        border-color: #0b2b5c;
      }
    } 

    &.da {
      
      &.active {
        color: #fefefe;
        background-color: #003535;
        border-color: #003535;
      }
    } 

    &.detective {
      
      &.active {
        color: #fefefe;
        background-color: #4c0a15;
        border-color: #4c0a15;
      }
    } 

    &.expert {
      
      &.active {
        color: #fefefe;
        background-color: #0b2b5c;
        border-color: #0b2b5c;
      }
    } 
  }
}

.tabCont {
  display: none;

  &.active {
    display: block;
  }
}