.guideTxt {
  color: #939393;
  font-weight: 500;
  font-size: 14px;
}

.guideTxt.small {
  font-size: 12px;
}

.guideTxt .pointColor {
  color: #ff0247;
  font-size: 1em;
}

.priceRow {
  display: flex;
  justify-content: space-between;
}

.priceRow__label {
  color: #152131;
  font-weight: 600;
  font-size: 16px;
}

.priceRow__price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 200px;
  height: 40px;
  padding: 0 20px;
  color: #152131;
  font-weight: 600;
  font-size: 16px;
  background: #f7f7f7;
}
